name: CI

on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  testsuite:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.3', '8.4']

    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        extensions: mbstring, intl, bcmath, apcu
        coverage: pcov
        ini-values: |
          apc.enable_cli=1

    - name: Composer install
      run: |
        composer --version
        composer install

    - name: Run PHPUnit
      run: |
        if [[ ${{ matrix.php-version }} == '8.2' ]]; then
          vendor/bin/phpunit --coverage-clover=coverage.xml
        else
          vendor/bin/phpunit
        fi

    - name: Code Coverage Report
      uses: codecov/codecov-action@v1

  validation:
    name: Coding Standard & Static Analysis
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: mbstring, intl, bcmath, apcu
        coverage: none
        ini-values: |
          apc.enable_cli=1

    - name: Composer Install
      run: composer install

    - name: Run phpstan
      run: vendor/bin/phpstan analyse --error-format=github

    - name: Run phpcs
      run: composer cs-check
